<section>

    <div>
        <button (click)="returnPageHome()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
        </button>
    </div>

    <h1>
        Local da Cerimônia
    </h1>

    <div class="nome-sitio">
        <p>Sítio Pedra da Gruta</p>
    </div>

    <p class="endereco">
        Gruta, Cachoeiro de Itapemirim - ES
    </p>

    <div class="img">
        <img src="assets/sitio-novo.png" alt="">
    </div>

    <div>
        <p class="desc">
            ** Depois da piscina de Aguas Claras
        </p>
    </div>

    <div class="data">
        <p class="pdata">
            Dia 07/01/2024 às 09h30
        </p>
    </div >
        
    <div class="avisos">
        <p>Importante: O portão será fechado às 09h30.</p>
        <p>Para não interromper a cerimônia, o portão só</p>
        <p>será reaberto na festa.</p>
    </div>

    <div class="piscina">
        <p>A piscina não será liberada</p>
    </div>

</section>