<section>
    <div class="header">
        <h1>Lista de Presentes</h1>
    </div>
    <div class="box">

        <div class="list">
            <div class="list-content">
                <button class="linha" *ngFor="let presente of listaPresentes; let i = index" (click)="marcarCheckBox(i)" >
                    <input type="checkbox" name="" id="" (click)="marcarCheckBox(i)" [checked]="presente.checked" [disabled]="presente.confirmado">
                    <label>{{presente.nome}}</label>
                </button>
            </div>
        </div>

        <div>
            <p>Para presentes em dinheiro,</p>
            <p> Pix: <strong>28999067634</strong> </p>
        </div>
        <button class="confirmar" (click)="confirmar()">
            Confirmar
        </button>
    </div>
</section>