section { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    margin-top: 8vh;

    h1 {
        padding: 0;
        margin: 0;
        color: #465F1C;
        opacity: 0.75;
        text-align: center;
        font-family: Dancing Script;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px solid #73503C;
        width: fit-content;
    }
 
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 8.8vh;
    width: 80vw;
    height: fit-content;


    .search {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        height: 5.6vh;
        width: 80vw;
        background-color: #fff;
        
        svg {
            margin-left: 10px;
            fill:#959E85 ;
            path {
                stroke: #959E85;
                fill:#959E85 ;
            }
        }

        input{
            border: none;
            width: 100%;
            padding-left: 10px;
            color: #959E85;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: none;
        }
        input::placeholder {
            color: #959E85;
        }
        border-bottom: 1px solid #959E85;
    }

    .list {
        margin-top: 5.6vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 80vw;
        min-height: 30vh;
        background-color: #fff;
        border-radius: 5px;
        border-top: 5px solid #959E85;
        border-right: 0.5px solid #959E85;
        border-bottom: 4px solid #959E85;
        border-left: 0.5px solid #959E85;   

        .list-content {
            
            overflow-y: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            
            width: 80vw;
            height: 30vh;

            .linha {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 80vw;
                min-height: 6vh;

                input {
                    margin-left: 10px;
                    width: 10px;
                    height: 15px;
                }
                label {
                    margin-left: 5px;
                    color: #465F1C;
                    font-family: Roboto;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                }
            }
        }
    }

    .message {

        margin-top: 5.6vh;


        p {
            padding: 0;
            margin: 0;
            color: #959E85;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        span {
            font-weight: 400;
        }
    }
}



