<section>

    <img src="assets/bg-foto.png" alt="">
    <!-- <header>
        <h1 class="header-title">Bem Vindo!</h1>
        <h6 class="header-message">VOCÊ FOI CONVIDADO AO</h6> 
    </header> -->
    <body>
        <div class="box">
            <h1>Casamento <span>De</span> </h1> 
            <h1>João Ricardo </h1>
            <h1> Giovanna</h1>
        </div>
        <div class="buttons">
            <button (click)="navigateConfirmarPresenca()">
                CONFIRMAR PRESENÇA
            </button>
            <button  (click)="navigatePresente()">
                LISTA DE PRESENTES
            </button>
            <button  (click)="navigateLocal()">
                LOCAL E DATA
            </button>
            
        </div>
    </body>
</section>

<div class="div-bigscreen">
    <h1>Por Favor, acesse usando um SmartPhone</h1>
</div>
