<section>
    <header>
        <h1 class="header-title">Bem Vindo!</h1>
        <h6 class="header-message">VOCÊ FOI CONVIDADO AO</h6>
    </header>
    <body>
        <div class="box">
            <h1>Casamento <span>de</span> João Ricardo Giovan</h1>
        </div>
        <div class="buttons">
            <button>
                CONFIRMAR PRESENÇA
            </button>
            <button>
                ESCOLHER PRESENTE
            </button>
            <button>
                LOCAL DA CERIMÔNIA
            </button>
        </div>
    </body>
</section>
