section {
    width: 100vw;
    height: 100vh;

    

    //background-color: #fdd7c1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 15vh;
    width: 100vw;

    background-color: #fff;

    .header-title {
        margin:0;
        padding: 0;
        font-family: 'Dancing Script', sans-serif;
        font-size: 14vw;
        color: #73503C;
        font-weight: 400;
    }
    .header-message {
        margin-top: 0.5vh;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 3.6vw;
        color: #A66E4E;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 85vh;

    margin: 0;
    padding: 0;
    background-image: url('/assets/bg-foto.png');

    

    .box {
        margin-top: 16.3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 69.3vw;
        height: 33.4vh;
        background-color: #FFFFFF;
        opacity: 0.9;
        border-top: 4px solid #BFA399;
        border-bottom: 4px solid #BFA399;
        border-radius: 5px;

        h1 {
            margin: 0;
            padding: 0;
            font-family: 'Dancing Script', sans-serif;
            font-size: 12.5vw;
            color: #73503C;
            font-weight: 400;
            width: fit-content;

            span {
                font-size: 4.5vw;
            }
        }
    }

    .buttons {
        margin-top:12vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 16vh;

        button {
            margin-top: 1.5vh;
            border: 0;
            width: 40vw;
            height: 4.5vh;

            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.7vh;
            color: #73503C;

            border-radius: 10px;
            background-color: #fff;
            
        }
        button:hover{cursor: pointer;}
    }
}

.div-bigscreen {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    font-family: roboto;
    color: black;
    font-size: 10vw;
}




@media screen and (min-width: 480px) {
    section, header, body {
        display: none;
    }
    .div-bigscreen {
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .div-bigscreen {
        display: none;
    }

}

